body {
    font-size: 12px;
    font-family: Rubik;
    color: #616161;
}

/*  */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* push footer to the bottom */
.main {
    flex: 1 1 auto;
}
/* Any tag containing __container in class attribute */
[class*="__container"] {
    max-width: 1087px;
    margin: 0px auto;
    padding: 0 15px;
}

/* PC */
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/* Tablet */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/* Mobile */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* HEADER START*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.header__menu {
    flex: 1 1 auto;
}
.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 40px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.14em;
    color: #000;
}
@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin-right: 30px;
    }
}
.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.14em;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    background: #EC5863;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background: #eb747c;
}
.button_blue {
    background-color: #4285F4;
}
.button_blue:hover {
    background-color: #7baaf7;
}
/* HEADER END */