body {
    font-size: 12px;
    font-family: Rubik;
    color: #616161;
}

/*  */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* push footer to the bottom */
.main {
    flex: 1 1 auto;
}
/* Any tag containing __container in class attribute */
[class*="__container"] {
    max-width: 1057px;
    margin: 0px auto;
}